/* mini reset */
body {
  margin: 0;
  background: #fafafa;
}

body,
h1,
p,
input {
  color: #555;
  font-family: Consolas, Arial;
  text-decoration: none;
  text-align: left;
}

h2 {
  color: #ff6600;
  font-family: Consolas, Arial;
  text-decoration: none;
  text-align: left;
}

h5 {
  color: rgb(185, 185, 185);
  font-family: Consolas, Arial;
  text-decoration: none;
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
  text-align: left;
  font-size: 0.3em;
  padding: 0px;
}

a,
input {
  color: rgb(0, 0, 0);
  font-family: Consolas, Arial;
  text-decoration: none;
  text-align: center;
}
h5 {
  color: #555;
  font-family: Consolas, Arial;
  text-decoration: none;
  text-align: center;
}
gt {
  color: #ff6600;
  font-family: Consolas, Arial;
  text-decoration: none;
  text-align: left;
}

ft {
  color: rgb(160, 160, 160);
  font-family: Consolas, Arial;
  text-decoration: none;
  text-align: right;
  margin: 1px auto 0;
  padding: 5px;
  cursor: pointer;
  margin-left: 1px;
  margin-right: 10px;
}

/* header styles */
header {
  width: 100%;
  padding: 80px;
  text-align: right;
  background: white;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  padding-top: 0px;
  padding-right: 5px;
  padding-left: 5px;

}

header a {
  margin-left: 10px;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid #ff6600;
  padding: 4px;
  cursor: pointer;
}

header a:hover {
  background: #ff6600;
  color: rgb(255, 255, 255);
}

/* content styles */
.content {
  max-width: 800px;
  padding-left: 5px;
  margin: 40px auto 0;
}

/* modal styles */
.modal {
  width: 300px;
  padding: 30px;
  margin: 100px auto;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 500px;
  overflow-y: auto;
}

.hashcode.open {
  display: block;
}

.hashcode {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: none;
}

.signin-request {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: none;
}

.signin-request.open {
  display: block;
}

/* form element styles */
input {
  display: inline-block;
  margin: 8px 0;
  padding: 8px 2px;
  border-width: 0 0 2px 0;
  width: 85%;
}

target a {
  margin: 5px;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid #ff6600;
  padding: 0px;
  cursor: pointer;
}

target a:hover {
  background: #ff6600;
  color: rgb(255, 255, 255);
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  color: rgb(255, 255, 255);
  background: #ff6600;
  border: 0;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
}

/* auth styles */
.auth {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #fafafa;
  display: none;
  z-index: 1;
}

.box {
  padding-top: 10px;
  margin-left: 2px;
      }
      
.auth.open {
  display: block;
}

.auth a {
  text-decoration: underline;
  cursor: pointer;
}

.auth .modal {
  display: none;
}

.auth .modal.active {
  display: block;
}


/* notification */
.notification {
  width: 200px;
  padding: 20px;
  position: fixed;
  left: 50%;
  margin-left: -120px;
  top: 0;
  border-radius: 0 0 5px 5px;
  background: #5c71fb;
  text-align: center;
  color: #fff;
  margin-top: -100%;
  transition: all 0.4s;
}

.notification.active {
  margin-top: 0;
}


/* lookup form*/
.formLkp {
  padding: 20px;
  margin: 20px;
  list-style-type: none;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

/* keyLkp form*/
.keyLkp {
  padding: 20px;
  margin: 20px;
  list-style-type: none;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  max-width: 800px;
}

/* land form*/
.land {
  padding: 20px;
  margin: 20px;
  list-style-type: none;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  max-width: 800px;
}

#idUpdate {
  display: none;
}

/* code  styles */
.code {
  padding: 20px;
  margin: 10px auto;
  list-style-type: none;
  background: white;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  display: block;
  justify-content: flex-start;
}

/* code  styles */
.lowlight {
  font-size: 12px;
  word-break: break-all;
}

.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 30px;
letter-spacing: normal;
text-transform: none;
display: inline-block;
white-space: nowrap;
word-wrap: normal;
direction: ltr;

}

.material-icons1 {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  
  }

  .material-icons2 {
    font-family: 'Material Icons';
    font-size: 30px;
    width: 50px;
    }

    #footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #f5f5f5;
    }

    .social {
      float: left;
      display: inline-flex;
      padding: 10px;
      color: #ff6600;
  }
  
  .grad{
    background: linear-gradient(to right, #ff6600, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .copyright {
    float: right;
    display: inline-flex;
    justify-content:right;
    padding: 8px 1px;
  }

  #rotate-text {
    transform: rotate(90deg);
    text-align: left ;
    font-size: 4em;
  }

  .grey {
    color: #555;
  }

  /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.notes {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.season_tabs {
  position: relative;   
  min-height: 500px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.season_tab {
  float: left;  
  clear: both;
  width: 286px;
}
.season_tab label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    font-size: 15px;
    vertical-align: middle;
    position: relative;
    left: 1px;
    width: 64px;
    height: 30px;
    display: table-cell;
}
.season_tab [type=radio] {
  display: none;   
}
.season_content {
  position: absolute;
  top: 0;
  left: 86px;
  background: white;
  right: 0;
  bottom: 0;
  padding: 5px;
  border: 1px solid #ccc;
 }
.season_content span {
  animation: 0.5s ease-out 0s 1 slideInFromTop; 
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 2px solid #ff6600;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .season_content {
  z-index: 1;
}